SECRET_KEY=your_secret_key_django

DEBUG=True/False

# пример данных для базы данных postgresql
DATABASE_NAME=your_name_database
DATABASE_USER=postgres
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# пример данных для работы с почтой mail.ru
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=2525
EMAIL_HOST_USER=your_email_adress
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=True/False
EMAIL_USE_SSL=False/True

# пример настроек для создания супер-пользователя с помощью кастомной команды
ADMIN_EMAIL=your_test_email_adress
ADMIN_PASSWORD=your_test_password
