{% extends "home_page/base.html" %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<section class="text-center container text-white">
    <h1 class="fw-light">{{ greeting }} !</h1>
    <section class="py-3 text-center container text-white">
        <div class="d-flex justify-content-center gap-3">
            <div class="col-sm-2">
                <label for="date_application" class="form-label">Дата:</label>
                {% now "d.m.Y" as current_date %}
                <div class="form-control" id="date_application" style="text-align: center;">{{ current_date }}</div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-sm-2">
                <label for="time_application" class="form-label">Время:</label>
                {% now "H:i" as current_time %}
                <div class="form-control" id="time_application" style="text-align: center;">{{ current_time }}</div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
        </div>
    </section>
</section>
<hr class="my-4 text-white">

<div class="text-center container text-white">
    <h3 class="fw-light">
        Общая информация по Отделу на {{current_date}} года. <!-- Добавить информацию по какому Отделу информация -->
    </h3>
</div>
<section class="py-3 text-center container text-white">
    <div class="d-flex justify-content-center gap-3">
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">Информация о Сотрудниках
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">Участки (Сектора)
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">Задачи
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">Заявки
            </a>
        </div>
        <div class="col">
            <a class="btn btn-success w-100" style="text-align: center"
               href="#" role="button">Мероприятия
            </a>
        </div>
    </div>
</section>
<hr class="my-4 text-white">

<section class="py-5 text-center container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center"> <!--  -->
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="#" role="button">Личный кабинет
        </a>
    </div>

    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'admin:index' %}" role="button">Войти в административную часть сайта
        </a>
    </div>

    <div class="col">
        <form method="post" action="#">
            {% csrf_token %}
            <button type="submit" class="btn btn-success w-100" style="text-align: center" role="button">Выход
            </button>
        </form>
    </div>

    <div class="col">
        <a class="btn btn-success w-50" style="text-align: center"
           href="#" role="button">Вход на сайт
        </a>
    </div>
    <div class="col">
        <a class="btn btn-success w-50" style="text-align: center"
           href="#" role="button">Зарегистрироваться на сайте
        </a>
    </div>


</div>
</section>
<hr class="my-4 text-white">

{% endblock %}
