{% extends "home_page/base.html" %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<section class="text-center container text-black">
    <h1 class="fw-light">{{ greeting }}, дорогой сотрудник!</h1>
    <section class="py-3 text-center container text-white">
        <div class="d-flex justify-content-center gap-3">
            <div class="col-sm-2">
                <label for="date_application" class="form-label">Дата:</label>
                {% now "d.m.Y" as current_date %}
                <div class="form-control" id="date_application" style="text-align: center;">{{ current_date }}</div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-sm-2">
                <label for="time_application" class="form-label">Время:</label>
                {% now "H:i" as current_time %}
                <div class="form-control" id="time_application" style="text-align: center;">{{ current_time }}</div>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
        </div>
    </section>
</section>
<hr class="my-4 text-white">

<section class="py-3 text-center container text-white">
    <div class="text-center container text-black">
        <h3 class="fw-bold">
            Ты зашел на этот сервис не просто так!
            С помощью данного сервиса, руководитель может сам управлять всем спектром направлений компании,
            а может делегировать часть прав управления компанией, то есть назначить сотрудникам права
            для управления определенными направлениями компании (администраторы, супер-пользователи, менеджеры, руководители и т.д.)
            Сотрудники компании, которые не входят в группу управленческого персонала, так же имеют доступ к данному сервису.
            Они имеют возможность войти на сервис и увидеть информацию по своему направлению работы.
            Вход становится возможным, как только Вы станете сотрудником данной компании!  <!-- Добавить какую информацию выводить -->
        </h3>
    </div>
</section>
<hr class="my-4 text-white">

{% if user.is_authenticated %}
<section class="py-5 text-center container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 text-center"> <!--  -->
    <div class="col">
        <a class="btn btn-success w-100" style="text-align: center"
           href="{% url 'admin:index' %}" role="button">Войти в административную часть сайта
        </a>
    </div>
</div>
</section>
<hr class="my-4 text-white">
{% endif %}

{% endblock %}
