{% extends 'home_page/base.html' %}
{% load my_tags %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
<div class="container text-white">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            Сохранить
        </button>
        <a class="btn btn-secondary" href="{% url 'employees:employee_detail' employee.pk %}">Отмена</a>
    </form>
</div>
{% endblock %}
